<h3>View all Books</h3>

<ul>
  <% @books.each do |book| %>
  <li>
    <h4>
      <%= link_to book.title, book_path(book) %>
      (<%= book.year %>)
    </h4>
      <i>By <%= book.author %></i>
  </li>
  <% end %>
</ul>
