@font-face {
    font-family: 'shortstackregular';
    src: asset-url('shortstackregular-webfont.eot');
    src: asset-url('shortstackregular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('shortstackregular-webfont.woff') format('woff'),
         asset-url('shortstackregular-webfont.ttf') format('truetype'),
         asset-url('shortstackregular-webfont.svg#shortstackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
